In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('letterboxd-reviews.csv', encoding='latin1')

In [3]:
df.head()

,Movie name,Release Year,Rating,Reviewer name,Review date,Review,Comment count,Like count
0,Aftersun (2022),2022,â??â??â??â??Â½,Tuomas,12-Jan-20,This review may contain spoilers.,130,"22,44 6 likes"
1,Joker (2019),2019,â??â??â??â??â??,Joao,20-Dec-22,if youâ??ve never swam in the ocean then of co...,1.8K,"22,032 likes"
2,Puss in Boots: The Last Wish (2022),2022,â??Â½,NicoPico,15-Sep-22,Puss in Boots: Into the Pussy-Verse,6 2,"21, 6 6 6 likes"
3,The Banshees of Inisherin (2022),2022,â??â??â??â??â??,Ella Kemp,8-Apr-22,I will NOT leave my donkey outside when Iâ??m sad,NaN,"21, 6 09 likes"
4,Everything Everywhere All at Once (2022),2022,â??â??Â½,CosmonautMarkie,14-Aug-19,Watch it and have fun before film Twitter tell...,355,"20, 6 88 likes"

In [4]:
import numpy as np
# Convert 'Rating' to a numerical value
# Replace the star symbols (â??) and half-star symbols (â½) with Unicode characters
# count the characters to get a numerical rating
df['Rating'] = df['Rating'].astype(str).str.replace('â??', '★', regex=False).str.replace('â½', '½', regex=False)
df['Rating'] = df['Rating'].apply(lambda x: x.count('★') + x.count('½') * 0.5 if isinstance(x, str) else np.nan)
print("--- First 5 rows of cleaned 'Rating' column ---")
print(df['Rating'].head())
# And a new statistical summary to see the change
print("\n--- Statistical summary including 'Rating' ---")
print(df.describe())

--- First 5 rows of cleaned 'Rating' column ---
0    4.5
1    5.0
2    1.5
3    5.0
4    2.5
Name: Rating, dtype: float64

--- Statistical summary including 'Rating' ---
            Rating
count  4596.000000
mean      3.672977
std       1.438586
min       0.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       5.000000

In [5]:
df.head()

,Movie name,Release Year,Rating,Reviewer name,Review date,Review,Comment count,Like count
0,Aftersun (2022),2022,4.5,Tuomas,12-Jan-20,This review may contain spoilers.,130,"22,44 6 likes"
1,Joker (2019),2019,5.0,Joao,20-Dec-22,if youâ??ve never swam in the ocean then of co...,1.8K,"22,032 likes"
2,Puss in Boots: The Last Wish (2022),2022,1.5,NicoPico,15-Sep-22,Puss in Boots: Into the Pussy-Verse,6 2,"21, 6 6 6 likes"
3,The Banshees of Inisherin (2022),2022,5.0,Ella Kemp,8-Apr-22,I will NOT leave my donkey outside when Iâ??m sad,NaN,"21, 6 09 likes"
4,Everything Everywhere All at Once (2022),2022,2.5,CosmonautMarkie,14-Aug-19,Watch it and have fun before film Twitter tell...,355,"20, 6 88 likes"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4596 entries, 0 to 4595
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie name     4596 non-null   object
 1   Release Year   4578 non-null   object
 2   Rating         4596 non-null   float64
 3   Reviewer name  4596 non-null   object
 4   Review date    4370 non-null   object
 5   Review         3560 non-null   object
 6   Comment count  4273 non-null   object
 7   Like count     3318 non-null   object
dtypes: float64(1), object(7)
memory usage: 287.4+ KB

In [7]:
df.describe()

            Rating
count  4596.000000
mean      3.672977
std       1.438586
min       0.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       5.000000

In [8]:
# helper function to clean the numerical columns
def clean_numeric_column(series):
    series = series.astype(str).str.replace(',', '', regex=False).str.strip()
    # Handle 'K' for thousands
    series = series.str.replace(r'(\d+\.?\d*)K', r'\1000', regex=True)
    return pd.to_numeric(series, errors='coerce')
# Apply the cleaning function to the 'Like count' and 'Comment count' columns
df['Like count'] = clean_numeric_column(df['Like count'])
df['Comment count'] = clean_numeric_column(df['Comment count'])
# check the data types to confirm the cleaning was successful
print("--- Final DataFrame Info ---")
print(df.info())
# statistical summary for the cleaned data
print("\n--- Final Statistical Summary ---")
print(df.describe())

--- Final DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4596 entries, 0 to 4595
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie name     4596 non-null   object
 1   Release Year   4578 non-null   object
 2   Rating         4596 non-null   float64
 3   Reviewer name  4596 non-null   object
 4   Review date    4370 non-null   object
 5   Review         3560 non-null   object
 6   Comment count  4079 non-null   float64
 7   Like count     0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 287.4+ KB
None

--- Final Statistical Summary ---
            Rating  Comment count  Like count
count  4596.000000    4079.000000         0.0
mean      3.672977      17.945085         NaN
std       1.438586     110.998840         NaN
min       0.000000       1.000000         NaN
25%       3.000000       6.000000         NaN
50%       4.000000       6.000000         NaN
75%       5.000000      16.000000         NaN
max       5.000000    6834.000000         NaN

In [9]:
df.head()

,Movie name,Release Year,Rating,Reviewer name,Review date,Review,Comment count,Like count
0,Aftersun (2022),2022,4.5,Tuomas,12-Jan-20,This review may contain spoilers.,130.0,NaN
1,Joker (2019),2019,5.0,Joao,20-Dec-22,if youâ??ve never swam in the ocean then of co...,NaN,NaN
2,Puss in Boots: The Last Wish (2022),2022,1.5,NicoPico,15-Sep-22,Puss in Boots: Into the Pussy-Verse,NaN,NaN
3,The Banshees of Inisherin (2022),2022,5.0,Ella Kemp,8-Apr-22,I will NOT leave my donkey outside when Iâ??m sad,NaN,NaN
4,Everything Everywhere All at Once (2022),2022,2.5,CosmonautMarkie,14-Aug-19,Watch it and have fun before film Twitter tell...,355.0,NaN

In [10]:
import re
# Clean the 'Movie name' column
# We will remove the release year from the movie title for consistency.
df['Movie name'] = df['Movie name'].str.replace(r'\s*\(\d{4}\)\s*$', '', regex=True)
# Clean the 'Review' text
# This removes unwanted special characters from the reviews.
df['Review'] = df['Review'].str.replace(r'[^A-Za-z0-9\s.?!,]', '', regex=True).str.strip()
# Display the final, cleaned DataFrame head to see the results
print("--- Final Cleaned DataFrame Head ---")
print(df.head())

--- Final Cleaned DataFrame Head ---
                          Movie name Release Year  Rating    Reviewer name  \
0                           Aftersun         2022     4.5           Tuomas
1                              Joker         2019     5.0             Joao
2       Puss in Boots: The Last Wish         2022     1.5         NicoPico
3          The Banshees of Inisherin         2022     5.0        Ella Kemp
4  Everything Everywhere All at Once         2022     2.5  CosmonautMarkie

  Review date                                             Review  \
0   12-Jan-20                  This review may contain spoilers.
1   20-Dec-22  if you??ve never swam in the ocean then of cou...
2   15-Sep-22                  Puss in Boots Into the PussyVerse
3    8-Apr-22   I will NOT leave my donkey outside when I??m sad
4   14-Aug-19  Watch it and have fun before film Twitter tell...

   Comment count  Like count
0          130.0         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4          355.0         NaN

In [14]:
from sentence_transformers import SentenceTransformer
# Load a pre-trained embedding model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Explicitly convert the 'Review' column to string to handle any non-string values
df['Review'] = df['Review'].astype(str)
# Create a list of the text to embed
reviews_list = df['Review'].tolist()
# Generate the embeddings
# This might take a few moments depending on the number of reviews
embeddings = model.encode(reviews_list)
# Now, let's add the embeddings back into the DataFrame
df['embeddings'] = list(embeddings)
# Print the shape of the embeddings to confirm they were created
print("Shape of the embeddings array:", embeddings.shape)
# Display the first few rows of the DataFrame with the new embeddings column
print("\n--- DataFrame with Embeddings ---")
print(df.head())

Shape of the embeddings array: (4596, 384)

--- DataFrame with Embeddings ---
                          Movie name Release Year  Rating    Reviewer name  \
0                           Aftersun         2022     4.5           Tuomas
1                              Joker         2019     5.0             Joao
2       Puss in Boots: The Last Wish         2022     1.5         NicoPico
3          The Banshees of Inisherin         2022     5.0        Ella Kemp
4  Everything Everywhere All at Once         2022     2.5  CosmonautMarkie

  Review date                                             Review  \
0   12-Jan-20                  This review may contain spoilers.
1   20-Dec-22  if you??ve never swam in the ocean then of cou...
2   15-Sep-22                  Puss in Boots Into the PussyVerse
3    8-Apr-22   I will NOT leave my donkey outside when I??m sad
4   14-Aug-19  Watch it and have fun before film Twitter tell...

   Comment count  Like count  \
0          130.0         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4          355.0         NaN

                                          embeddings
0  [-0.08762204, 0.06153596, 0.006262287, 0.03101...
1  [-0.026023412, 0.014653771, 0.02841634, -0.040...
2  [-0.055873998, -0.09836616, -0.055287592, 0.00...
3  [0.09188248, 0.035685036, 0.07878844, 0.066133...
4  [-0.041370556, -0.0603219, -0.03644796, -0.031...

In [15]:
df.head()

,Movie name,Release Year,Rating,Reviewer name,Review date,Review,Comment count,Like count,embeddings
0,Aftersun,2022,4.5,Tuomas,12-Jan-20,This review may contain spoilers.,130.0,NaN,"[-0.08762204, 0.06153596, 0.006262287, 0.03101..."
1,Joker,2019,5.0,Joao,20-Dec-22,if you??ve never swam in the ocean then of cou...,NaN,NaN,"[-0.026023412, 0.014653771, 0.02841634, -0.040..."
2,Puss in Boots: The Last Wish,2022,1.5,NicoPico,15-Sep-22,Puss in Boots Into the PussyVerse,NaN,NaN,"[-0.055873998, -0.09836616, -0.055287592, 0.00..."
3,The Banshees of Inisherin,2022,5.0,Ella Kemp,8-Apr-22,I will NOT leave my donkey outside when I??m sad,NaN,NaN,"[0.09188248, 0.035685036, 0.07878844, 0.066133..."
4,Everything Everywhere All at Once,2022,2.5,CosmonautMarkie,14-Aug-19,Watch it and have fun before film Twitter tell...,355.0,NaN,"[-0.041370556, -0.0603219, -0.03644796, -0.031..."

In [16]:
import chromadb
import uuid
# 1. Initialize ChromaDB client
# We will use a persistent client, so the data is saved to a folder
client = chromadb.PersistentClient(path="./chroma_db")
# 2. Create or get a collection
# A collection is like a table in a traditional database
collection_name = "movie_reviews"
collection = client.get_or_create_collection(name=collection_name)
# 3. Prepare the data for insertion
# We need three lists: unique ids, the embeddings, and the original text
ids = [str(uuid.uuid4()) for _ in range(len(df))]
documents = df['Review'].tolist()
embeddings_list = df['embeddings'].tolist()
# 4. Add the data to the collection
collection.add(
    ids=ids,
    embeddings=embeddings_list,
    documents=documents
)
print(f"Successfully added {len(df)} reviews to the '{collection_name}' collection.")
print(f"Total documents in collection: {collection.count()}")
# Optional: Perform a quick test query to make sure it works
# This requires the embedding model to be loaded again for the query text
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2')
test_query = "What is a good comedy movie?"
query_embedding = model.encode([test_query]).tolist()[0]
test_results = collection.query(
    query_embeddings=[query_embedding],
    n_results=3
)
print("\n--- Test Query Results ---")
print(test_results)

Successfully added 4596 reviews to the 'movie_reviews' collection.
Total documents in collection: 4596

--- Test Query Results ---
{'ids': [['884b8927-da62-4f1d-82c1-2af47bb9f374', 'e9ba35a1-2c8c-4590-ad68-479179e3f8f9', '32129ec1-5082-4fdd-b6b2-456627a59a39']], 'embeddings': None, 'documents': [['A very light romantic comedy.Good for a first date.', 'A good movie if you??ve only seen 4 or 5 movies', 'A smart, sexy, and seriously funny comedy!']], 'uris': None, 'included': ['metadatas', 'documents', 'distances'], 'data': None, 'metadatas': [[None, None, None]], 'distances': [[0.7929335236549377, 0.8269220590591431, 0.8567890524864197]]}